<div class="row">
    <div class="col-md-8">
        <h3><%= t("Micropost to be commented") %></h3>
        <ol class="microposts">
            <%= render @micropost %>
        </ol>
    </div>
    <div class="col-md-8">
        <%= form_with(model: [@micropost, @micropost.set_message], method: :POST, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label t("comment") %>
        <div class = "field">
            <%= f.text_field :content, class: 'form-control' %>
        </div>
        <%= f.submit t("re-nya-n"), class: "btn btn-primary" %>
    <% end %>
    </div>
</div>  