<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <%= link_to "@#{user.nickname}", user %>
  <% if user.introduction.present? %>
    <p><%= user.introduction %></p>
  <% end %>
    <% if current_user.admin? && !current_user?(user) %>
    <%= link_to t("DeletePost"), user, data: { "turbo-method": :delete,                               turbo_confirm: "You sure?" } %>
  <% end %>
  <div class="stats">
  <a href="<%= following_user_path(user) %>">
    <strong id="following" class="stat">
      <%= user.following.count %>
    </strong>
    <%= t("Following") %>
  </a>
  <a href="<%= followers_user_path(user) %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    <%= t("Followers") %>
  </a>
</div>


</li>
