<% provide(:title, "Edit user") %>
<h1><%= t("UpdateProfile") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label t("Name") %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label t("Nickname") %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label t("Email") %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t("birthplace") %>
      <%= f.text_field :birthplace, class: 'form-control'%>

      <%= f.label t("introduction") %>
      <%= f.text_area :introduction, class: 'form-control', rows: 5 %>

      <%= f.label t("Passowrd")%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, t("Confirmation") %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :screen_mode, t("Screen_Mode") %>
      <%= f.check_box :screen_mode, class: 'form-check-input' %>

      <%= f.submit t("SaveChange"), class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
