<% provide(:title, 'Users') %>
<main class="search">
<h1><%= t("AllUsers") %></h1>

<%= form_with url: search_path, method: :post do |form| %>
<div class="select">
<label>
  <%= t("Usersearch") %>
  <%= form.radio_button :select,"ãƒ¦ãƒ¼ã‚¶ãƒ¼æ¤œç´¢" ,:checked => true %>
</label>
<label>
  <%= t("Keywordsearch")%>
  <%= form.radio_button :select,"ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰æ¤œç´¢" %>
</label>
</div>
<%= form.text_field :data, class: "textfield", placeholder: "ðŸ”"+t("Search") %>
<% end %>
<%= will_paginate %>
<ul class="users">
  <% if @users.present?%>
    <%= render @users%>
  <%else%>
    <p style ="font-size:40px"><%=t("Not_exist")%></p>
  <% end%>
</ul>
<%= will_paginate %>
</main>