<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <%= gravatar_for @user %>
      <div style="display: flex;">
        <h1>
          <%= @user.name %>
        </h1>
        <h2 style="margin: 1.7px;">
          @&nbsp;<%= @user.nickname %>
        </h2>
      </div>      
      <div class="birth_place">
        <% if @user.birthplace.present? %>
          <span class="material-symbols-outlined">
            location_on
          </span>
          <p style="margin: auto 0;">
            <%= @user.birthplace %>
          </p>
        <% end %>
      </div>
      <div class="introduction">
        <% if @user.introduction.present? %>
          <p><%= @user.introduction %></p>
        <% end %>
      </div>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <%= link_to t("MicropostFeed"), user_path(id: params[:id]),class: 'btn btn-default', style: 'margin-left: 10px;'%>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <% @likes = @user.like_microposts%>
    <% if @user.microposts.any? %>
      <h3>Likes(<%= @likes.count %>)</h3>
      <ol class="microposts">
        <%= render 'likes' %>
      </ol>
    <% end %>
  </div>
</div>
