<%= form_with(model: @micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("ComposeNewMicropost") %>
  </div>

  <!-- 画像ファイルを複数選択できるようにする -->
  <div class="field">
    <%= f.label :images, t("AttachImages") %>
    <%= f.file_field :images, multiple: true, name: "micropost[images][]" %>
  </div>

  <%= f.submit t("Post"), class: "btn btn-primary" %>
<% end %>